@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #f8f8f8;
    color: #4d4d4d;
    font-family: 'Inter', sans-serif;
}

/* System Theme */

/* Buttons */
.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    color: #444444;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.btn-icon {
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    color: #444444;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.btn-icon .btn-primary {
    background-color: #444444;
    color: #ffffff;
}

.btn-secondary {
    background-color: #ffffff;
    color: #444444;
}

.btn-danger {
    background-color: #d82e2e !important;
    color: #ffffff !important;
}

.btn-warning {
    background-color: #ffcc00;
    color: #ffffff;
}

.btn-success {
    background-color: #44ff44;
    color: #ffffff;
}

.btn-info {
    background-color: #4444ff;
    color: #ffffff;
}

.btn-light {
    background-color: #ffffff;
    color: #444444;
}

.btn-dark {
    background-color: #444444;
    color: #ffffff;
}

/* Buttons */

/* Card */
.card {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

@keyframes slideIn {
    from {
        transform: translateX(120%) scale(0.95);
        opacity: 0;
    }

    to {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0) scale(1);
        opacity: 1;
    }

    to {
        transform: translateX(120%) scale(0.95);
        opacity: 0;
    }
}

.notif-card {
    animation: slideIn 0.3s ease forwards;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: auto;
}

.notif-card.hide {
    animation: slideOut 0.3s ease forwards;
}

/* Card */

/* User Menu */
.dropdown-menu {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 0rem 1rem;
    z-index: 100;
    display: hidden;
    justify-content: center;
}

.dropdown-item {
    display: flex;
    padding: 0.5rem 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
    color: #444444;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.dropdown-item-btn {
    display: flex;
    padding: 0.5rem 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
    color: #444444;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.dropdown-item:hover {
    background-color: #e0e0e0;
}

/* User Menu */

/* Sidebar */
.sidebar-menu {
    display: flex;
    flex-direction: column;
    margin-right: 1.2rem;
}

.sidebar-item {
    display: flex;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    color: #444444;
    align-items: center;
    justify-content: start;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.sidebar-item:hover {
    background-color: #e0e0e0;
}

.sidebar-item-icon {
    margin-right: 0.25rem;
}

.sidebar-item-text {
    margin-left: 0.25rem;
}

/* Sidebar */

/* Utilities */
.circle-1 {
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
    border: none;
}

.circle-2 {
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    border: none;
}

.circle-3 {
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    border: none;
}

.hr-1 {
    border: none;
    border-top: 1px solid;
}

.hr-primary {
    border-color: #d8d8d8;
}

.hr-secondary {
    border-color: #ffffff;
}

/* Utilities */