:root {
    --color-primary: #eeeeee;
    --color-tertiary: #f0f6ff; 
    
    --primary-gradient: linear-gradient(to-right, var(--color-primary), var(--color-tertiary));
}


body {
   background-color: var(--primary-gradient);
}
